SSID=your_ssid
PASS=your_pass
GAUGE1_ROTATION=0
GAUGE2_ROTATION=0
GAUGE1_PROM_METRIC=https://node_exporter_addr1/metrics
GAUGE2_PROM_METRIC=https://node_exporter_addr2/metrics
GAUGE1_NAME=worker-node1
GAUGE2_NAME=worker-node2
